<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- action will make a post request to this method -->
    <from action="http://localhost:3000/user/new" method="POST">
      <label>
        FirstName
        <input type="text" name="firstName" value="<%= locals.data %>" />
      </label>
      <button type="submit"> Sub </button>
    </from>
  </body>
</html>
